@model IEnumerable<WebRapPhim.Models.SuatChieu>
@using WebRapPhim.Models
@using System.Globalization;
@{
    ViewBag.Title = "ChonVe";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AppXemPhimEntities1 db = new AppXemPhimEntities1();
    SuatChieu s = Model.ToList().FirstOrDefault();
    Film f = db.Film.First(x => x.ID == s.PhimID);
    List<LoaiVe> loaives = db.LoaiVe.ToList();
    List<Ve> Listve = db.Ve.ToList();
    List<String> ghedadat = new List<String>();
    foreach (Ve i in Listve)
    {
        Ghe ghei = db.Ghe.First(x => x.ID == i.Ghe);
        ghedadat.Add(ghei.ID);
    }

    List<Ghe> gheTrong = new List<Ghe>();
    foreach (Ghe i in db.Ghe.Where(x => x.PhongID == s.PhongID))
    {
        if (!ghedadat.Contains(i.ID))
        {
            gheTrong.Add(i);
        }
    }

    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");

}
<script>

    function formatMoney(number) {
        return number.toLocaleString('en-US', { style: 'currency', currency: 'VND' });
    }
    var pricecount =[]
    @foreach (LoaiVe i in loaives) {
        @:pricecount.push(0)
         }
    function SetQuantity(id) {

        var quantity = document.getElementById(id).value;
        var price = parseFloat(document.getElementById("price" + id).innerText);
        document.getElementById("total" + id).innerText = formatMoney(quantity * price) ;
        var cartquantity = document.getElementById("cart-quantity-" + id)
        var cartprice = document.getElementById("cart-price-" + id)
        var content = document.getElementById("content" +id)
        if (quantity == 0) {
            content.hidden = true;
            cartquantity.hidden = true;
            cartprice.hidden = true
            document.getElementById("sl" + id).value = quantity;
            pricecount[id - 1] = 0
        }
        else {
            content.hidden = false;
            cartquantity.hidden = false;
            cartprice.hidden = false;
            document.getElementById("cart-quantity-" + id).innerText = quantity;
            document.getElementById("cart-price-" + id).innerText = formatMoney(quantity * price);
            document.getElementById("sl" + id).value = quantity;
            pricecount[id - 1] = quantity * price

        }
        var tong = 0;
        for (var i = 0; i < @loaives.Count; i++)
            tong += pricecount[i]

        document.getElementById("total").innerText = formatMoney(tong)
    }

    function confirm() {
        var count = 0;
        var check = false
        for (var i = 1; i <= @loaives.Count; i++) {
            var t = document.getElementById("sl" + i).value;
            count += t;
            if (t != 0) {
                check = true;
                break;
            }
        }
        if (t > @gheTrong.Count)
            alert("Hết ghế, Ghế còn trống:" + @gheTrong.Count);
        else if(!check)
            alert("Bạn chưa chọn vé nào");
        else
            document.getElementById("post-form").submit();
    }
</script>
<form id="post-form" action="~/App/ChonVe_post" method="post">
    @foreach (LoaiVe l in loaives)
    {
        <input hidden id="@string.Concat("sl",l.ID)" name="@string.Concat("sl",l.ID)" value="0" />
    }
    <input hidden  name="suatchieu" value="@s.ID" />
</form>
<section id="menu" class="menu">
    <div class="d-flex gap-5" style="margin:70px">
        <div>
            <div class="d-flex gap-5">
                <img src="@f.poster_link" style="width:200px" />
                <div>
                    <h4 class="text-success">@f.ten</h4>
                    <h5>Now showing @s.GioBatDau</h5>
                    <h5>Sceen @s.PhimID</h5>

                    <br /><br /><br />
                    <h2 class="text-danger">*Lưu ý</h2>
                    <h5>- Hãy chọn kỹ loại vé và số lượng bạn muốn mua</h5>
                    <h5>- Vui lòng chọn kỹ loại vé và số lượng quý khách muốn mua</h5>
                </div>
            </div>
        </div>

        <div style="background-color:grey">
            <div style="padding:30px">
                <h3>Giỏ hàng của bạn</h3>
                <hr />
                <div class="d-flex gap-3">
                    <div class="d-flex gap-1">
                        <a href="~/App/Home">
                            <button style="width:30px" class="btn btn-danger">X</button>
                           </a>
                            <span sstyle="width: 30px; overflow: hidden; text-overflow: ellipsis; word-wrap: normal ">@f.ten</span>
</div>
                    
                </div>
                <hr />
                <div>

                    @foreach (LoaiVe l in loaives)
                    {
                        <div id="@string.Concat("show",l.ID)" class="d-flex gap-3">
                            <h6 hidden id="@string.Concat("content",l.ID)" style="width:220px">Vé @l.Ten</h6>
                            <h6 hidden id="@string.Concat("cart-quantity-",l.ID)" style="width:80px">0</h6>
                            <h6 hidden id="@string.Concat("cart-price-",l.ID)">0<</h6>
                        </div>
                    }
                </div>
                <hr />
                <div class="d-flex gap-3">
                    <h5 style="width:320px">Tổng cộng</h5>
                  
                    <h6 id="total">0 VNĐ</h6>
                </div>


            </div>
        </div>

    </div>
    <div style="margin-left:70px;width:900px;gap:150px" class="d-flex">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Vé</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Tổng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (LoaiVe l in loaives)
                {
                    <tr>
                        <th scope="row">Vé @l.Ten</th>
                        <td id="@string.Concat("price",l.ID)">@(double.Parse((s.Gia+s.Gia*(l.PhanTramCongThem/100)).ToString()))</td>
                        <td><input id="@l.ID" type="number" min="0" value="0" onchange="SetQuantity(@l.ID)" /></td>
                        <td id="@string.Concat("total",l.ID)">0</td>
                    </tr>
                }

            </tbody>
        </table>
        <button style="width:200px; height:50px" type="button" class="btn btn-danger" onclick="confirm()">Xác nhận</button>

    </div>
</section>
