@model IEnumerable<WebRapPhim.Models.SuatChieu>
@using WebRapPhim.Models;
@using System.Data.SqlClient;
@{
    ViewBag.Title = "SuatChieu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    SqlDataReader reader;
    string strConnect = "Data Source=VANGNGUYEN;Initial Catalog=AppXemPhim;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework";
    SqlConnection cnn = new SqlConnection(strConnect);
    SqlCommand cmd = new SqlCommand();
    cmd.CommandType = System.Data.CommandType.Text;
    cmd.Connection = cnn;
    // Truy vấn Tên Phim
    cmd.CommandText = "SELECT DISTINCT Film.ten AS FilmTen, SuatChieu.ID AS SuatChieuID, SuatChieu.PhimID AS SuatChieuFID " +
                "FROM AppXemPhim.dbo.Film " +
                "JOIN AppXemPhim.dbo.SuatChieu ON AppXemPhim.dbo.Film.ID = AppXemPhim.dbo.SuatChieu.PhimID " +
                "WHERE AppXemPhim.dbo.Film.ID = AppXemPhim.dbo.SuatChieu.PhimID";
    cmd.Connection = cnn;
    if (cnn.State == System.Data.ConnectionState.Closed)
    {
        cnn.Open();
    }

    reader = cmd.ExecuteReader();
    var table = new System.Data.DataTable();
    table.Columns.Add("FilmTen");
    table.Columns.Add("SuatChieuID");
    table.Columns.Add("SuatChieuFID");
    while (reader.Read())
    {
        table.Rows.Add(reader["FilmTen"], reader["SuatChieuID"], reader["SuatChieuFID"]);
    }
    reader.Close();
    cnn.Close();
}
<style>
    .btl-left {
        font-size: 18px;
        margin-top: 20px;
        margin-left: 85%;
    }

        .btl-left a {
            display: inline-block;
            padding: 8px 15px;
            background-color: #292424;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            font-size: 16px;
            font-weight: bold;
            transition: background-color 0.3s ease;
        }

        .btl-left > a:hover {
            color: black;
            background-color: white;
        }
</style>
<div class="btl-left">
    <a href="/Admin/Home/CreateSuatChieu">
        + Thêm mới
    </a>
</div>
<h2 style="text-align:center;">Suất Chiếu</h2>
<table class="table">
    <tr>
        <th>
            <p>Suất</p>
        </th>
        <th>
            <p>Giờ bắt đầu</p>
        </th>
        <th>
            <p>Phòng</p>
        </th>
        <th>
            <p>Phim</p>
        </th>
        <th>
            <p>Giá</p>
        </th>
        <th>
            <p>Trạng thái</p>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioBatDau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhongID)
            </td>
            @foreach (System.Data.DataRow row in table.Rows)
            {
                if (item.PhimID == Convert.ToInt32(row["SuatChieuFID"]) && item.ID == Convert.ToInt32(row["SuatChieuID"]))
                {
                    <td>
                        <p>@row["FilmTen"]</p>
                    </td>
                }
            }
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteSuatChieu", new { id = item.ID }, new { @class = "btn btn-danger", style = "font-size: 15px; font-weight: bold; padding: 5px 7px; border-radius: 5px; color: #fff; border: none;" })
            </td>
        </tr>
    }

</table>
